#Header{
    background-color: red;
    text-align: center; 
    padding: 20px;
    margin: 5px;
    border-style: solid;
    }
    
 #Menu {
    background-color: grey; 
     text-align: center;
    padding: 20px;
    margin: 5px;
    border-style: solid;
    }
    
    #Content {
    background-color: rgb(176, 176, 176);
    text-align: center;
    width: auto;
    height: 500px;
    padding: 16;
    margin: 5px; 
    border-style: solid;
    overflow: hidden;
    position: relative;
    }
    
    .struktur {
        border-style:solid;
        border-color:rgb(0, 0, 0);
        width: 30rem;
        height: 48%;
        position : absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items:center;
        color: rgb(0, 0, 0);
    }
    
    .section {
        border-style:solid;
        border-color:rgb(0, 0, 0);
        width: 30rem;
        height: 48%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content : center;
        align-items: center;
        color: rgb(0, 0, 0);
    }
    
    .artikel {
        position: absolute;
        border-style:solid;
        border-color:rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        top: 0;
        right: 0;
        width: 60%;
        height: 99%;  
    }
    
    #Footer {
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding:20px;
        margin: 5px;
        border-style: solid;
    }
    
    body {
        background-color:rgb(255, 255, 255);
        font-family: Lucida Console,Courier New,monospace;
    }